.wppizza-entry-title {text-align: center;color: #ffa000;font-size: 27px;background: #6f0c1b;letter-spacing: 1px;line-height: 38px;}
 .wppizza-article-title {font-size: 24px;line-height: 28px;font-weight: 400; letter-spacing: 0px;color: #6f0c1b;font-family: sans-serif;}
 .wppizza-cart .wppizza-cart-info input[type=button] {border-color: #6f0c1b;color: #6f0c1b !important;}
 .wppizza-cart {border:none;}
 .wppizza-multi-button-main {border-color: #6f0c1b;color:#6f0c1b !important;}
 @media only screen and (max-width: 767px) { .wppizza-article-default .wppizza-article-sizes {margin: 0;padding: 0;float: none;}
 .wppizza-article-title {font-size: 20px;line-height: 20px;}
 }